.btn {
   display: inline-block;
   border-radius: 5px;
   background-color: var(--accent-color);
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   text-align: center;
   color: var(--white-color);
   padding: 25px 54px;
   transition: .3s all ease;

   &:hover {
      background-color: #971014;
   }
}