.footer {
   background-color: var(--dark-color);
   padding: 40px 0;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include mobile {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__image {
      display: inline-block;
      margin-bottom: 5px;

      @include mobile {
         margin-bottom: 15px;
      }
   }

   &__phone {
      color: var(--white-color);

      @include mobile {
         font-size: 20px;
      }
   }
}

.copyright {
   color: var(--white-color);

   @include mobile {
      text-align: center;
      margin-bottom: 25px;
   }
}