<footer class="footer">
   <div class="container-fluid footer__container">
      <div class="footer__left">
         <a href="#" class="logo">
            <img loading="lazy" src="img/logo.svg" class="image footer__image" width="228" height="48" alt="logotype Robo-school">
         </a>
         <div class="copyright">© ROBO.SCHOOL</div>
      </div>
      <div class="footer__right">
         <a href="tel:+78000001122" class="phone footer__phone">+7 800 000 11 22</a>
      </div>
   </div>
</footer>